.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.login > img {
  max-height: 100px;
}
.login > a {
  background-color: #1db954;
  border-radius: 99px;
  padding: 20px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}
